#form1{
	margin:80px auto;
	}
#RequiredFieldValidator1{
	color:Red;
	}
#RequiredFieldValidator2{
	color:Red;
	}
#RequiredFieldValidator4{
	color:Red;
	}
RegularExpressionValidator2{
	color:Red;
	}
.findpsw_top{
	margin-top:8%;
	text-align:center;
	}
.F1{
	text-align:center;
    }
.F2{
	text-align:center;
    }
#Button1
{
	width:90px;
	height:40px;
	}
body{
	background-image: url(./image/P4.jpg);
    background-repeat:no-repeat;
	}